@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

:root {
    --main-text-color: #ddffff;
    --main-background-color: #344343;
    --second-background-color: #111;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    background-color: var(--main-background-color);
    overflow-x: hidden;
}

* {
    font-family: 'Kanit', sans-serif;
    color: var(--main-text-color);
    opacity: 0;
    animation: fadein 500ms forwards;
}

.nav {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    user-select: none;
    font-size: 14px;
    width: 100%;
    height: 50px;
    overflow: hidden;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav ul li {
    float: left;
    width: 80px;
    transition: background-color 100ms;
    height: 50px;
}

.nav ul li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav ul li.active {
    background-color: #337733;
}

.nav ul li:hover:not(.active) {
    background-color: #444;
}

.nav ul li.active:hover {
    background-color: #338833;
}

.nav ul li.active:active {
    background-color: #336633;
}

.nav ul li:active:not(.active) {
    background-color: #333;
}

.nav ul li.extended {
    width: 100px;
}

form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 60%;
}

form input {
    width: 50%;
    border: 3px solid var(--second-background-color);
    border-radius: 5%;
    background-color: #222;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

.links {

}

#footer {
    height: 50%;
    width: 100%;
    background-color: var(--second-background-color);
    position: absolute;
    left: 0;
    top: 100%;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

::-webkit-scrollbar {
    width: 12px;
}
  
::-webkit-scrollbar-track {
    background-color: #333;
}
  
::-webkit-scrollbar-thumb {
    background-color: #222;
    border-radius: 6px;
}